# Node.js
/node_modules
/.pnp
.pnp.js

# Yarn
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Build output
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env*.local
.env*.production
.env*.development
.env*.test

# Vercel
.vercel
/output

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma or Drizzle (if you generate migration files or schema files)
drizzle.config.ts
drizzle/migrations/*

# MongoDB specific (if you're storing any local database config or scripts)
/init-mongo.js  # Your custom init script for MongoDB (if exists)

# Postgres
/postgres-data   # Any local database storage for development
pgdata/         # PostgreSQL data files (if stored locally)

/docker-compose.override.yml # Custom overrides for local docker setups
